@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg{
    background-image:url(/build/images/bg-mobile.png);
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    background-position:center;
}

.desktop-bg{
    background-image:url('/build/images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position:bottom center;
    height:100vh;
    background-size:cover;
    background-color:hsl(229, 57%, 11%);
}

.svg-icon{
    background-color:hsl(229, 57%, 11%);
}

.section-bg{
    background-color:hsl(228, 56%, 26%);
}

.range-field{
    -webkit-appearance: none;
    appearance: none;
    outline:none;
    width:100%;
    height:13px;
    border-radius:12px;
    background-image:linear-gradient(to right, hsl(6, 100%, 80%),hsl(335, 100%, 65%));;
    width:70%;
    margin-left:0;
    /* box-shadow: inset 0 0 5px rgba(0,0,0,1); */
    overflow:hidden;
}

.range-field::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance:none;
    width:13px;
    height:13px;
    border-radius:50%;
    background:white;
    margin-left:3.1rem;
    /* color:#848794; */
    /* margin-bottom:0.3rem; */
    /* box-shadow:-410px 0 0 400px hsl(335, 100%, 65%); */
    cursor:pointer;
}