@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg{
    background-image:url(/build/images/bg-mobile.png);
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    background-position:center;
}

.svg-icon{
    background-color:hsl(229, 57%, 11%);
}

.section-bg{
    background-color:hsl(228, 56%, 26%);
}

.gradient{
    background-image:linear-gradient(to left, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    width:80%;
    margin-inline:auto;
}